<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th><%= sortable 'name'  %></th>
      <th><%= sortable 'lastname'  %></th> 
      <th><%= sortable 'email' %></th> 
      <th><%= sortable 'asciisum', 'Ascii Sum' %></th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user[:name] %></td>
        <td><%= user[:lastname] %></td>
        <td><%= user[:email] %></td>
        <td><%= user[:asciisum] %></td>
        <td><%= link_to 'Show', user_path(user[:id]) %></td>
        <td><%= link_to 'Edit', edit_user_path(user[:id]) %></td>
        <td><%= link_to 'Destroy', user_path(user[:id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
